<!DOCTYPE html>
<html>
<title>Crypto Compare Smartcrypto.tech</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    html, body {
    height:auto;
    max-width:100%;
    margin:0;
    padding:0;
}
.container {
   max-width: 100%;
    height: auto;
}
    img {
    width: 100%;
    height: auto;
}
</style>
<body>

<div>
    <div style="float:left;">
        <h1>Crypto Compare</h1>
     </div>
    <div style="float:left;">
        <a href='https://play.google.com/store/apps/details?id=tech.smartcrypto.neeraj.coin'><img alt='Get it on Google Play' src='https://lh3.googleusercontent.com/6Q4PpD7DervkwChBOGz2n1yQYZxTNMPXnLX4aVYU0M6BDZwi8DiZW47jk1RmZ5J4Eg=w300'/></a>
    </div>
</div>
<div >
    <a class="container" href='https://play.google.com/store/apps/details?id=tech.smartcrypto.neeraj.coin'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
</div>

</body>
</html>
